body,
div {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    margin: 20px auto;
}

.wrapper-info {
    margin: 0 auto;
    width: 400px;
    height: 50px;
    background-color: rgb(165, 165, 165);
    padding: 5px;
    border: 5px solid black;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-new-game {
    width: 100px;
    height: 30px;
    padding: 5px 10px;
    border: none;
    background-color: rgb(141, 234, 74);
    border-radius: 5px;

}

.count-mine,
.count-flag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.count-mine span,
.count-flag span {
    padding-left: 5px;
}

.result {
    font-weight: 700;
    font-size: 23px;
    margin: 0;
    padding: 5px;
    border-radius: 2px;

}

.lost {
    color: red;
    background-color: rgb(245, 165, 165);
}

.won {
    color: blue;
    background-color: rgb(131, 149, 216);
}



.table {
    width: 400px;
    height: 400px;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 auto;
}

.td {
    border: 1px solid black;
    background-color: rgb(165, 165, 165);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number,
.num {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-2 {
    color: green;
}

.number-3 {
    color: red;
}


.img-mine,
.img-flag {
    position: absolute;
    width: 100%;
    height: 100%;

}

.hidden {
    z-index: -1;
}

.active {
    z-index: 1;
    background-color: rgb(229, 229, 229);
}

.btn-active,
.result-active {
    opacity: 1;
}

.btn-hidden,
.result-hidden {
    opacity: 0;
}