.page-body {
   font-family: 'Roboto', sans-serif;
}

.background-container {
   height: 100vh;
   width: 100%;
   background-image: url(./image/background\ 1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.container {
   max-width: 1030px;
   margin-left: auto;
   margin-right: auto;
}

.page-header-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 51px;
   padding-bottom: 22px;
   padding-left: 1px;
   padding-right: 1px;
}

.logo-link {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   position: relative;
}

.logo-image {
   display: inline-block;
   margin-bottom: 4px;
}

.logo-image-orange {
   position: absolute;
   top: 0;
   left: 0;
   display: none;
}

.logo-name {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-transform: uppercase;
   font-weight: 700;
   color: #FFFFFF;
}


.logo-text-milan {
   font-size: 29px;
   line-height: 29px;
}

.logo-text-hollidays {
   font-size: 18px;
   line-height: 18px;
}

.logo-link:hover .logo-image-orange {
   display: inline-block;
}

.logo-link:hover .logo-name {
   color: #F26522;
}

.contacts-info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: end;
   gap: 19px;
   font-size: 18px;
   line-height: 18px;
   color: #FFFFFF;
}

.contact-email,
.contact-tel {
   color: inherit;
}

.contact-email:hover {
   color: #F26522;
}

.contact-tel:hover {
   color: #F26522;
}

/* налаштування main */
.hollidays-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 37px 64px;
   justify-items: center;
   padding-bottom: 25px;
}

.holliday-item {
   width: max-content;
   position: relative;
}

.holliday-item-link {
   display: block;
}

.holliday-item-image {
   display: block;
   object-fit: cover;
   padding: 5px;
   background-image: linear-gradient(to right, black, white);
}

.holliday-title {
   font-weight: 400;
   font-size: 18px;
   line-height: 18px;
   color: #FFFFFF;
   text-align: center;
   margin-top: 20px;

}

.holliday-item-description {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
   color: #FFFFFF;
   background-color: #F26522;
   position: absolute;
   height: 0;
   right: 0;
   left: 0;
   bottom: 37px;
   width: 100%;
   overflow: hidden;
   transition: height .5s ease;

}


.holliday-item:hover .holliday-title {
   color: #F26522;
}

.holliday-item:hover .holliday-item-description {
   height: 55px;
}

.price-text {
   font-size: 10px;
   line-height: 10px;
   flex-basis: 100%;
   margin: 7px 0 0 16px;
}

.price {
   font-size: 20px;
   line-height: 20px;
   margin: 0 0 12px 16px;
}

.additional-descrip-link {
   font-size: 14px;
   line-height: 14px;
   color: inherit;
   margin: 0 14px 12px auto;
}


.additional-descrip-link::after {
   content: '';
   padding-left: 21px;
   background-image: url(./image/Vector\ 1.svg);
   background-repeat: no-repeat;
   background-position: right center;
   background-size: contain;
}

/* налашт футер */

.footer-page {
   padding-bottom: 15px;
   padding-top: 25px;
   text-align: center;
}

.footer-text {
   font-size: 12px;
   line-height: 12px;
   color: #FFFFFF;
}