.page-body {
    font-family: 'Roboto', sans-serif;
}

// container
.container {
    max-width: 1170px;
    margin: 0 auto;
}

@media (min-width: 320px),
(max-width:320px) {
    .container {
        max-width: 320px;
        padding-left: 25px;
        padding-right: 28px;

    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px;
        padding-left: 80px;
        padding-right: 92px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

// header-menu
.page-nav {
    padding-top: 29px;
    padding-bottom: 34px;


    @media(max-width:320px), (min-width:320px) {
        & {
            padding-top: 23px;
            padding-bottom: 23px;
            position: relative;
        }
    }

    @media(min-width: 768px) {
        & {
            padding-top: 23px;
            padding-bottom: 28px;
        }
    }

    .hd-nav {
        @media(max-width:320px), (min-width:320px) {
            & {
                display: none;
                position: absolute;
                top: 60px;
                right: 0;
                width: 182px;
                height: 208px;
                flex-direction: column;
                justify-content: space-evenly;
                z-index: 2;
                background-color: rgba(245, 245, 245, 1);

                .hd-nav-item {
                    padding-left: 12px;

                    &:hover {
                        background-color: rgba(185, 185, 185, 1);
                    }
                }
            }
        }

        @media(min-width: 768px) {
            & {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-evenly;
                position: static;
                background-color: unset;
                width: 100%;
                height: unset;

                .hd-nav-item {
                    padding-left: unset;

                    &:hover {
                        background-color: unset;
                    }
                }

            }
        }

        .hd-item-link {
            font-size: 11px;
            line-height: 22px;
            letter-spacing: 1.1px;
            color: $colorHeadMenu;
            text-transform: uppercase;
            margin-top: 16px;
            margin-bottom: 17px;

            &:hover {
                color: $colorHeadMenuHover;
            }

        }

    }

    .active {
        @media(max-width:320px), (min-width:320px) {
            & {
                display: flex;
            }
        }

    }

    .hd-burger-menu {
        display: none;

        @media(min-width:320px), (max-width:320px) {
            & {
                margin-left: auto;
                @include displayCenter;
                background-color: black;
                position: relative;
                max-width: 44px;
                height: 37px;
                cursor: pointer;
            }



            & .burg-line {
                display: block;
                position: relative;
                height: 2px;
                width: 17px;
                background-color: rgba(255, 255, 255, 1);

                &::before {
                    content: "";
                    position: absolute;
                    top: -4px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: rgba(255, 255, 255, 1);
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    right: 0;
                    width: 100%;
                    height: 2px;
                    background-color: rgba(255, 255, 255, 1);
                }
            }

            & .burg-reset {
                display: block;
                position: relative;
                width: 17px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 1);
                    transform: rotate(45deg);
                }


                &::after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 1);
                    transform: rotate(135deg);
                }
            }

            @media(min-width:768px) {
                & {
                    display: none;
                }
            }

        }
    }
}